<div class="about">
    <figure>
        <img src="../../../../assets/about-fig.png" alt="celular tirando foto de alguem pulando no mar ">
            <p>O <span>InstaJhon</span> surgiu apenas como um pequeno projeto para iniciar os estudos com ANGULAR, o que acabou se tornando um grande desafio pois além do framework foi necessário também o estudo de Typescript, mas não impossível, e aqui está o projeto como resultado disso<br><br> 
            InstaJhon foi feito com Angular e Typescript e se trata de um projeto para inserir fotos, editar, apagar, ou apenas ver detalhes delas, aonde é possível inserir e manipular comentários, como um mini fotolog, através de um CRUD completo usando API própria, atualmente feita em Adonis Js com SQlite, posteriormente faremos uma nova API usando Next Js com MongoDB<br><br>
            Para mais detalhes do projeto você por acessar diretamente o repositório no GitHub <a href="#">clicando aqui!</a><br><br>
            Para me conhecer ou entrar em contato você pode me chamar diretamente <a href="https://www.linkedin.com/in/jonatastalves">AQUI no LinkedIn</a>
            </p> 
    </figure>
</div>