@import '../../../styles.scss';

.message{
    position: fixed;
    top: 15em;
    width: 50%;
    margin-left: 50%;
    left: -25%;
    z-index: 10;
    background-color: map-get($project-color, 'white' );
    border: 3px solid map-get($project-color, 'button' );
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    
    p{
        font-size: 1.2em;        
    }

}

.message-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    button{
        padding: 0.5em;
        cursor: pointer;
        border: 2px solid map-get($project-color, 'main' );
        
    }
}

